*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
*/build/
*.apk
*.aab
/captures
.externalNativeBuild
.cxx
.trae/
.vscode/
*.jks
*.keystore
backend/.env
commandlinetools.zip
App Screenshots/*.mp4
